* {
  font-family: Verdana, sans-serif;
}
.div-logo-neci {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 30px;
}

.p-header {
  font-size: 12px;
  color: rgb(85, 83, 83);
  width: 240px;
  font-family: Verdana, sans-serif;
}
.a-header {
  font-size: 13px;
  text-decoration: none;
  font-weight: 600;
  color: #11a193;
}

ul {
  display: inline-flex;
}

.div-input input {
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  height: 24px;
  width: 210px;
  padding: 0 21px;
  font-size: 12px;
  font-weight: 400;
  outline: none;
  margin-top: 4px;
}

.div-input {
  width: 210px;
  height: 24px;
  text-align: center;
  display: inline-block;
  margin-left: 20px;
}

.div-nav {
  display: flex;
  justify-content: space-between;
}

.li-gender {
  list-style: none;
  height: 27px;
}

.a-gender {
  text-decoration: none;
  background-color: black;
  font-size: 12.5px;
  color: white;
  padding: .3rem .4rem; 
  margin: 2.5px;
  border-radius: 5px;
}

.a-gender:hover {
  opacity: 0.5;
}

.button-menu {
  background-color: black;
  color: white;
  font-size: 12.5px;
  padding: .3rem .4rem; 
  margin: 2.5px;
  border-radius: 5px;
  border: none;
}

.button-menu:hover {
  opacity: 0.5;
  cursor: pointer;
}